.container
  button.btn.btn-green.btn-small
    .btn-ripple button
  button.btn.btn-green
    .btn-ripple button
  button.btn.btn-orange
    .btn-ripple button
  button.btn.btn-orange.btn-small
    .btn-ripple button
.container
  button.btn.btn-green.btn-small.btn-shadow-green
    .btn-ripple button
  button.btn.btn-green.btn-shadow-green
    .btn-ripple button
  button.btn.btn-orange.btn-shadow-orange
    .btn-ripple button
  button.btn.btn-orange.btn-small.btn-shadow-orange
    .btn-ripple button
.container
  button.btn.btn-small.btn-shadow.btn-outline-green
    .btn-ripple button
  button.btn.btn-shadow.btn-outline-green
    .btn-ripple button
  button.btn.btn-orange.btn-shadow.btn-outline-orange
    .btn-ripple button
  button.btn.btn-orange.btn-small.btn-shadow.btn-outline-orange
    .btn-ripple button
