.container
  button.arrow-btn.arrow-btn_green
    i
  button.arrow-btn.arrow-btn_right.arrow-btn_green
    i
  button.arrow-btn.arrow-btn_filled
    i
  button.arrow-btn.arrow-btn_right.arrow-btn_filled
    i
  button.arrow-btn.arrow-btn_filled.arrow-btn_filled_green
    i
  button.arrow-btn.arrow-btn_right.arrow-btn_filled.arrow-btn_filled_green
    i
