.container
  .donut-chart 100
  svg.donut(width="25%" height="25%" viewBox="0 0 42 42")
    circle.donut-hole(cx="21" cy="21" r="15.91549430918954" fill="#fff")
    circle.donut-ring(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="3")
    circle.donut-segment(cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#ce4b99" stroke-width="3" )
  .pie-chart
    svg.pie-chart__svg(width="84" height="84")
      circle.pie-chart__progress.pie-chart__progress_path(cx="41" cy="41" r="38")
      circle.pie-chart__progress.pie-chart__progress_fill(cx="41" cy="41" r="38")
    span.pie-chart__percent 0
